<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接信息-->
  <add key="SqlConnect" value="Data Source=127.0.0.1\SQL2012;Initial Catalog=TaskManager;User ID=sa;Password=95938"/>
  <!--SMTP邮件发送信息-->
  <add key="MailInfo" value="{'SmtpHost':'smtp.exmail.qq.com','SendMail':'notify@myscloud.cn','UserName':'notify@myscloud.cn','Password':'task123456','DisplayName':'任务系统通知'}"/>
  <!--Web管理站点监听端口-->
  <add key="WebPort" value="9000"/>
</configuration>