<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Sqlite数据库连接信息-->
  <add key="SqliteConnect" value="Data Source=|DataDirectory|\TaskManager.db;Pooling=False;Max Pool Size=3000;FailIfMissing=false;Cache Size=20000;"/>

  <!--SqlServer数据库连接信息-->
  <add key="SqlServerConnect" value="Data Source = mssql9.zzidc.ha.cn;Initial Catalog=TaskManager;User ID=TaskManager_f;Password=959380"/>

  <!--Sql语句存放目录信息-->
  <add key="YwdsoftExt:XmlCommandFolder" value="XmlCommand"/>
</configuration>