<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand>
  <!--获取数据库所有表-->
  <XmlCommand Name="Table:GetAllTable">
    <CommandText>
      <![CDATA[
   SELECT A.object_id AS TableId,A.name AS TableName,ISNULL(B.value,'') AS TableCName 
			    FROM sys.tables AS A
			    LEFT JOIN sys.extended_properties AS B
			    ON A.object_id=B.major_id AND B.minor_id=0
      ]]>
    </CommandText>
  </XmlCommand>
  
  <!--获取数据库所有表信息-->
  <XmlCommand Name="Table:GetAllTableInfo">
    <CommandText>
      <![CDATA[
     SELECT  T.name AS TableName ,
			T.object_id AS TableId,
			ISNULL(CONVERT(VARCHAR(MAX), E.value), '') AS TableNameDesc ,
			C.name AS FieldName ,
			ISNULL(CONVERT(VARCHAR(MAX), D.value), '') AS FieldNameDesc ,
			ROW_NUMBER() OVER(PARTITION BY T.name ORDER BY C.colid) AS FieldSequence ,
			TYPE_NAME(C.xtype) AS DataType ,
			(CASE WHEN EXISTS ( SELECT   1
			FROM     sysobjects
			WHERE    xtype = 'PK'
			AND name IN (
			SELECT  name
			FROM    sysindexes
			WHERE   id = C.id
			AND indid IN (
			SELECT  indid
			FROM    sysindexkeys
			WHERE   id = C.id
			AND colid = C.colid ) ) )
			THEN 1
			ELSE 0
			END) AS IsPK ,
			ISNULL(C.isnullable, 1) AS Isnullable ,
			ISNULL(COLUMNPROPERTY(c.id, c.name, 'IsIdentity'), 0) AS Isidentity
			FROM   sys.tables AS T
			LEFT JOIN syscolumns AS C ON c.id = T.object_id
			LEFT JOIN sys.extended_properties AS D ON D.major_id = T.object_id
			AND D.minor_id = C.colid
			AND D.major_id = C.id
			LEFT JOIN sys.extended_properties AS E ON E.major_id = T.object_id
			AND E.minor_id = 0
		WHERE T.name IN ('{0}')
      ]]>
    </CommandText>
  </XmlCommand>
</ArrayOfXmlCommand>

